.submit {
  display: flex;
  justify-content: center;
}
.container h3{
  text-align: center;
  font-size: 150%;   
}
.soli{
  border-radius: 5px;
  display:flow-root;
  padding: 5px;
}
.table{
  margin: center;
}