.navbar1 {
  background-color: #22222F !important;
}
.navbar2 {
  background-color: #282933 !important;
}
.navbar-brand {
  font-weight: 700;
  font-size:36px; 
  line-height: 1;
}
body {
  /* background-color: #181924; */
  background-image: url(../imagenes/citysoft-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*estilos aside*/
.c-icon {
  fill: #fff;
}
.dropdown-item {
  word-wrap: break-word;
}
.c-dark-theme .nav-underline-primary .nav-link.active, .c-dark-theme .nav-underline-primary .show > .nav-link {
  border-color: #fff;
}
.aside-link {
  color: rgba(255, 255, 255, 0.6) !important;
  text-decoration: none;
}
.aside-link:hover {
  text-decoration: none;
}