.c-dark-theme input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
textarea {
  resize: none;
}
.btn {
  margin-top: 1rem;
}
/* estilos form ------------------------------------------------ */
form {
  background-color: #ebedef;
  border-radius: 10px;
  padding:24px;
  margin: 24px auto;
}
form *{
  color:#181924 !important;
  border-color:#181924 !important;
}
/* estilos form dark ---------------------------------------------- */
.c-dark-theme form {
  background-color: #24252F;
}
.c-dark-theme form *{
  color:#fff !important;
  border-color:#fff !important;
}
/* ------------------------------------------------------------------------------------ */
/* estilos inputs ----------------------------------------------------------- */
.form-control, .form-select {
  background-color: #ebedef;
}
.form-control:focus, .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgb(36 37 47 / 50%);
  background-color: #ebedef;
}
/* estilos inputs dark ------------------------------------------------------ */
.c-dark-theme .form-control, .form-select {
  background-color: #24252F !important;
}
.c-dark-theme .form-control:focus, 
.c-dark-theme .form-control.focus, 
.c-dark-theme .custom-file-input:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}
.c-dark-theme .form-control:disabled{
  background-color: #dee2e6b3 !important;
  color: #24252F !important;
}
.c-dark-theme .custom-file-label{
border-color: rgba(0, 0, 21, 0.3) !important;
}
/* ------------------------------------------------------------------------------------ */
/* estilos botones ------------------------------------------------------- */
.btn-primary {
  color: #181924;
  background-color: #fff;
  border: 1px solid #181924;
  width: 8rem;
}
.btn-primary:hover {
  color: #181924;
  background-color: #d8dbe0;
}
.btn-check:focus + .btn-primary, 
.btn-primary:focus {
  color: #181924;
  background-color: #d8dbe0;
  box-shadow: 0 0 0 0.25rem rgba(36, 37, 47, 0.5);
}
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
  font-weight: bold;
  color: #fff !important;
  background-color: #181924;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(36, 37, 47, 0.5);
}
/* estilos botones dark -------------------------------------------------- */
.c-dark-theme .btn-primary {
  background-color: #181924;
}
.c-dark-theme .btn-primary:hover {
  background-color: #c9c9c9;
  color: #181924;
}
.c-dark-theme .btn-check:focus + .btn-primary, 
.c-dark-theme .btn-primary:focus {
  color: #181924 !important;
  background-color: #d8dbe0;
  box-shadow: 0 0 0 0.25rem rgba(216, 219, 224, 0.5);
}
.c-dark-theme .btn-primary:not(:disabled):not(.disabled):active, 
.c-dark-theme .show > .btn-primary.dropdown-toggle {
  color: #181924 !important;
  background-color: #d8dbe0;
}
.c-dark-theme .btn-primary:not(:disabled):not(.disabled):active:focus, 
.c-dark-theme .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(216, 219, 224, 0.5);
}
/* --------------------------------------------------------------------------------------- */
/* estilos grupo de botones ---------------------------------------------- */
.btn-group, .btn-group-vertical {
  width: 100%;
}
/* estilos grupo de botones dark ----------------------------------------- */
.c-dark-theme .btn-check:active+.btn-outline-primary, 
.c-dark-theme .btn-check:checked+.btn-outline-primary {
  background-color: #181924 !important;
}
.c-dark-theme .btn-check+.btn-outline-primary, 
.c-dark-theme .btn-check+.btn-outline-primary {
  background-color: #dee2e6b3 !important;
  border-color: #fff !important;
}
.c-dark-theme .btn-check:active+.btn-outline-primary:focus, 
.c-dark-theme .btn-check:checked+.btn-outline-primary:focus, 
.c-dark-theme .btn-outline-primary.active:focus, 
.c-dark-theme .btn-outline-primary.dropdown-toggle.show:focus, 
.c-dark-theme .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(216, 219, 224, 0.5);
}
.c-dark-theme .btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.c-dark-theme .btn-outline-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.25rem rgba(216, 219, 224, 0.5);
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(216, 219, 224, 0.5);
}
/* --------------------------------------------------------------------------------------- */

.form-pdf [type=file] {
  cursor: pointer;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



