form {
  background-color: #24252F;
  border-radius: 10px;
  padding:24px;
}
.display-4{
  text-align: center;
}

form *{
  color:#fff;
}
.form-label {
  color: #fff;
}
.form-control, .form-select {
  color: #fff;
  border-color: #C5C9D1;
  background-color: #24252F;
}
.form-control:focus {
  background-color: #24252F;
  color:#fff !important;
  border: 1px solid #fff;
  box-shadow:none;
}
.form-control::placeholder {
  color: #CCC;
}
.form-header {
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: xx-large;
  padding: 12px 24px;
  border-bottom: 1px solid #C5C9D1;
}
option, select {
  color: #CCC !important;
}
.form-check-input:checked {
  background-color: #24252F;
  border-color: #fff;
}
.form-check-input:focus{
  box-shadow:none;
}
.fields {
  padding: 24px;
}
.c-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.btn {
  color: #fff;
  background-color: #181924;
  border: 1px solid #fff;
  align-items: center;
}
.btn:hover {
  background-color: #46546C;
  color: #fff;
}
.alert-danger {
  color: #fff;
  background-color: #960816;
}
button{
  display: flex;
  justify-content: center;
}

