form {
  background-color: #24252F;
  border-radius: 10px;
  padding:24px;
  margin: 48px auto;
}
.display-4{
  text-align: center;
}
form *{
  color:#fff;
}
.form-label {
  color: #fff;
}
.btn-group, .btn-group-vertical {
  width: 100%;
}
.form-control, .form-select {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #24252F !important;
}
.form-pdf [type=file] {
  cursor: pointer;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select:disabled{
  background-color: #dee2e6b3;
}
.option, select:disabled {
  color: rgb(255, 255, 255) !important;
}
.btn-check:active{
background-color: gray;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary{
  background-color: #181924 !important;
  border-color: rgb(255 255 255 / 88%);
}
.btn-check+.btn-outline-primary, .btn-check+.btn-outline-primary{
  background-color: #dee2e6b3 !important;
  border-color: #fff !important;
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(175 171 171 / 92%);
}
.form-control:focus {
  background-color: #24252F;
  color:#fff !important;
  border: 1px solid rgb(255 255 255 / 88%);;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
}
.form-control::placeholder {
  color: #CCC;
}
.form-header {
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: xx-large;
  padding: 12px 24px;
  border-bottom: 1px solid #C5C9D1;
}
option, select {
  color: #CCC !important;
}
.form-check-input:checked {
  background-color: #24252F;
  border-color: #fff;
}
.form-check-input:focus{
  box-shadow:none;
}
.fields {
  padding: 24px;
}
.c-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.btn-primary {
  color: #fff !important;
  margin-top: 1%;
  background-color: #181924 !important;
  border: 1px solid #fff !important;
  align-items: center;
  width: 50%;
}
.btn:hover {
  background-color: #c9c9c9;
  color: #fff;
}
.alert-danger {
  color: #fff;
  background-color: #960816;
}
form button{
  display: flex;
  justify-content: center;
}
.alert {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #960816;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
}
.btn-primary:hover{
  border-color: #fff;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  background-color: rgb(205 210 209 / 78%);
  border-color: rgb(255 255 255 / 78%);
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  background-color: gray;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: 0 0 0 0.25rem rgb(205 210 209 / 78%);
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  border-color: rgb(205 210 209 / 78%);
}
.form-select:focus {
  border-color: rgb(255 255 255 / 88%);
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
}
.form-control:disabled{
  background-color: #dee2e6b3;
  opacity: 1;
  color: black;
  border-color: #24252F;
}
.custom-file-label{
color: white;
background-color: #20212b;
}
.custom-file-label::after{
  color: white;
  background-color: #424242;
}
.custom-file-input:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
  border-color: rgb(255 255 255 / 88%);
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
}
.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  font-weight: bold;
  color: #24252F;
  background-color: rgb(255 255 255 / 90%);
  border-color: rgb(255 255 255 / 90%);
}
.btn-outline-primary {
  color: #fff !important;
}
.table td, .table th {
  border-color: #d8dbe0 !important;
}
.table thead th {
  border-color: #d8dbe0 !important;
}
