
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body, html{
    height: 100%;
}

body{
    
  background-image: url(../imagen/fondo\ oficial.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
  
  
}

.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    height: 30%;
   
}
.form{
    width: 320px;
    background-color: #eff3f7;
    opacity: .90;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
    
    
    
}
.form h2{
    color:black;
   text-align: center;
   font-size: 25px;
}
.form h3{
    color: rgb(58, 56, 56);
    font-size: 15px;
    text-align: center;
    
}





.iconCheck{
    position: relative;
}
.fas{
    position: absolute;
    padding: 20px;
    left:-15px;
    font-size: 22px;
    color: rgb(245, 240, 240);
    
}


.border input[type="email"],
.border input[type="password"]{
  border: 0;
  margin: -5px auto;
  font-size: 15px;
  padding-left: 40px ;
}


.border button[type="submit"]{ 
    height: 40px;
    margin:20px auto;
    text-align: center;
}

.alert{
    padding: 0.5rem 1rem;
}











@media(max-width:768px){

    .form{
        width: 80%;
    }
}
@media(max-width:480px){
  .form{
      width: 70%;

  }
}