.display-4{
  text-align: center;
}
.container-table {
  background-color: #24252F;
  border-radius: 10px;
  padding: 24px;
}
.container-table * {
  color: #fff;
}
.table *{
  color: #fff;
}
.table > thead > tr {
  border-color: #fff;
}
.table td, .table th {
  border-top-color: #d8dbe0 !important;
}
.table thead th {
  border-bottom-color: #d8dbe0 !important;
}
.btn {
  color: #fff !important  ;
  background-color: #181924 !important;
  border: 1px solid #fff !important;
}

h1{
  color: #fff;
}
.btn:hover {
  background-color: #c9c9c9;
  color: #fff;
}
.btn-primary:hover {
  border-color: #fff;
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
  background-color: rgb(205 210 209 / 78%);
  border-color: rgb(255 255 255 / 78%);
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 88%);
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: 0 0 0 0.25rem rgb(205 210 209 / 78%);
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  background-color: gray;
}
.alert-success{
  color: #fff !important;
  background-color: rgb(4, 153, 28) !important;
  border-color: rgb(4, 153, 28) !important;
}
.alert-danger{
  color: #fff !important;
  background-color: #960816 !important;
  border-color: #960816 !important;
}
.alert{
  padding: 5px;
}

.options {
  width: 24px;
}
.options .dropdown-menu {
  padding-top: 0;
}
.options > div > span {
  cursor: pointer;
}