table {
  border-collapse: separate;
  border-spacing: 2px 0;
  table-layout: fixed;
  width: 100%;
}
.c-dark-theme table *{
  color: #fff;
  border-color: #fff;
}
.cotizacion thead tr th {
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
}
.cotizacion thead tr th.c-4, .cotizacion thead tr th.c-6 {
  letter-spacing: 4px;
}
.cotizacion thead tr th.c-1 {
  width: 6%;
}
.cotizacion thead tr th.c-2 {
  width: 10%;
}
.cotizacion thead tr th.c-3 {
  width: 8%;
}
.cotizacion thead tr th.c-4 {
  width: 54%;
}
.cotizacion thead tr th.c-5 {
  width: 10%;
}
.cotizacion thead tr th.c-6 {
  width: 12%;
}
.cotizacion tbody:before {
  content: "";
  display: block;
  height: 4px;
  color: transparent;
}
.cotizacion tbody tr td{
  padding: 0 !important;
  height: 2rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px dotted #000;
  border-top: 0;
}
.cotizacion tbody tr td:not(.d4){
  text-align: center;
}
.cotizacion tbody tr td input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  margin: 0 !important;
  border: 0 !important;
}
.cotizacion tbody tr td.d4 input, .cotizacion tbody tr td.d4 span{
  text-align: unset; 
  padding-left: 8px !important;
}
.cotizacion tbody tr td.d4 span{
  display: inline-block;
  width: 100%;
}
.cotizacion tbody tr:first-child td{
  border-top: 1px solid #000;
  border-radius: 5px 5px 0 0;
}
.cotizacion tbody tr:last-child td{
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
}
